
.invisible {
  display: none;
}

#container {
  position: absolute;
  width: 100%!important;
  height: 100%!important;
  top: 0;
}

a#basic {
	width: 3vw;
	height: 3vw;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}

#container canvas {
  z-index: 500;
}

body {
  font-family: sans-serif;
}

a {
  color: #369;
}


#fixed {
    display: table;
    padding: 1em;
    border: 1px solid silver
}

