

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f6f6f6;
}

#drop-area label {
  cursor: pointer;
}

#drop-area.highlight {
  border-color: purple;
}
